<template>
    <div class="crud-container">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="card">Crear {{ getName() }} <i class="fas fa-plus"></i></div>
                </div>

                <div class="column">
                    <div class="card">Editar {{ getName() }} <i class="fas fa-edit"></i></div>
                </div>

                <div class="column">
                    <div class="card">Ver {{ getNamePlural() }} <i class="fas fa-eye"></i></div>
                </div>

                <div class="column">
                    <div class="card">Borrar {{ getName() }} <i class="fas fa-times"></i></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'crud-container',
    props: [
        'type'
    ],
    data() {
        return {
            typeMap: {
                student: 'Estudiante',
                teacher: 'Profesor',
                course: 'Materia'
            },
            typeMapPlural: {
                student: 'Estudiantes',
                teacher: 'Profesores',
                course: 'Materias'
            }
        };
    },
    methods: {
        getName() {
            return this.typeMap[this.type];
        },

        getNamePlural() {
            return this.typeMapPlural[this.type];
        }
    }
}
</script>

<style lang="scss">

</style>


