<template>
  <div id="app">
    <header class="top-bar">
      <a href="/">SincoABR</a>
    </header>

    <div class="container">
      <p>Seleccione una opción:</p>

      <div class="columns categories">
        <div class="column">
          <div @click="onStudentCatClick" class="card"><i class="fas fa-graduation-cap"></i> Estudiantes</div>
        </div>

        <div class="column">
          <div @click="onTeacherCatClick" class="card"><i class="fas fa-chalkboard-teacher"></i> Profesores</div>
        </div>

        <div class="column">
          <div @click="onCourseCatClick" class="card"><i class="fas fa-book-open"></i> Materias</div>
        </div>
      </div>
    </div>

    <div class="container">
      <crud-container :type="currentType"></crud-container>
    </div>
  </div>
</template>

<script>
import CrudContainer from './components/CrudContainer.vue';

export default {
  name: 'app',
  components: {
    CrudContainer,
  },
  data() {
    return {
      currentType: ''
    }
  },
  methods: {
    onStudentCatClick() {
      this.currentType = 'student';
    },
    onTeacherCatClick() {
      this.currentType = 'teacher';
    },
    onCourseCatClick() {
      this.currentType = 'course';
    },
  }
}
</script>

<style lang="scss">
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/components/all";
@import "~bulma/sass/layout/all";
@import "~bulma/sass/grid/all";
@import "~bulma/sass/elements/all";

:root {
  font-size: 18px;
}

.top-bar {
  background: linear-gradient(180deg, rgba(33,98,158,1) 0%, rgba(1,65,114,1) 100%);
  color: #fff;
  font-weight: bold;
  padding: 15px 20px;

  a {
    color: inherit;
    text-transform: none;
  }
}

.container {
  margin-top: 25px;
}

.card {
  border-radius: 3px;
  cursor: pointer;
  padding: 15px;
  transition: box-shadow .3s ease;

  &:hover {
    box-shadow: 0 5px 5px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
  }
}

.categories {
  margin-top: 10px;
}
</style>
